body {
	background-color: palevioletred;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-family: sans-serif;
}

section {
	float: left;
	background-color: cyan;
	width: 30%;
	border: solid 1px darkred;
	padding: 10px;
	margin: 6px;
}

section h3{
	color: black;
	font-family: sans-serif;
	position: relative;
	border: solid 2px black;
	width: 30%;
	text-align: center;
	background-color: mediumseagreen;
	float: right;
	font-size: 90%;
	top: -10px;
}

section p {
	clear: both;
	font-family: sans-serif;
	font-weight: 200;
}